*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background: #B3FFAB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}
#addBtn{
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: #130f40;
    color: #ffffff; 
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}
.note{
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    margin: 55px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.tool{
    width: 100%;
    background-color: #130f40;
    padding: 5px;
    /* color: #ff4757; */
    display: flex;
    justify-content: end;
   

}
.tool i{
    padding: 5px;
    color: #f5f6fa;
    cursor: pointer;
    
}

.tool i:hover{
    color: #e8002e;
}
.note textarea{
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    padding: 10px;
    font-size: 20px;
    background-image: url(./yogagirl.gif);
    background-size: cover;
    background-position: center;
}
.note textarea:focus{
    border: none;
    outline: none;
}
